<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="/static/syle.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TaskManager</title>

</head>

<body style="text-align:center;">
	<img class="logo" src="/static/logo.png" style="height:10%;width:20%"/>
	<form id="channelForm" action="/start"
		method="POST" align="center" style="margin-top: 2%;text-align : center;">

		<table align="center" class="container2">
			<tr>
				<td><label class="h3" for="channel_id">channel_id</label>
				<td><input class="input" id=channel_id type="text"
					placeholder="channel_id"
					name="channel_id"
					required /></td>
			</tr>
		</table>
		<button type="submit" class="button" align="center"
			style="margin-top: 2%;">Start</button>
	</form>
	<a class="h4" href="/logout" style="margin-top:10%;">Logout</a>
</body>
</html>